@model WarehouseApp.Models.EditProductVM
@{
    ViewData["Title"] = "Edit product";
}

<div class="text-center">
    <br />
    <h1 class="display-4">Edit product</h1>
    <br />
    <br />
</div>
<div class="d-flex justify-content-center">
    <form action="/Products/EditProduct" enctype="multipart/form-data" method="post">
        @Html.HiddenFor(m => m.ID)
        @Html.HiddenFor(m => m.OriginalCode)
        @Html.HiddenFor(m => m.searchCategory)
        @Html.HiddenFor(m => m.searchName)
        @Html.HiddenFor(m => m.searchCode)
        @Html.HiddenFor(m => m.pages)
        @Html.HiddenFor(m => m.page)
        <div class="form-group" style="width: 40rem;">
            <label for="name">Name</label>
            @Html.ValidationMessageFor(m => m.Name, null, new { @class = "text-danger" })
            @Html.TextBoxFor(m => m.Name, new { @placeholder = "Name", @class = "form-control" })
        </div>
        <div class="form-group" style="width: 40rem;">
            <label for="buy_price">Buy Price (in euro)</label>
            @Html.ValidationMessageFor(m => m.BuyPrice, null, new { @class = "text-danger" })
            @Html.TextBoxFor(m => m.BuyPrice, new { @placeholder = "Buy Price", @class = "form-control" })
        </div>
        <div class="form-group" style="width: 40rem;">
            <label for="sell_price">Sell Price (in euro)</label>
            @Html.ValidationMessageFor(m => m.SellPrice, null, new { @class = "text-danger" })
            @Html.TextBoxFor(m => m.SellPrice, new { @placeholder = "Sell Price", @class = "form-control" })
        </div>
        <div class="form-group" style="width: 40rem;">
            <label for="quantity">Quantity (units)</label>
            @Html.ValidationMessageFor(m => m.Quantity, null, new { @class = "text-danger" })
            @Html.TextBoxFor(m => m.Quantity, new { @placeholder = "Quantity", @class = "form-control" })
        </div>
        <div class="form-group" style="width: 40rem;">
            <label for="category">Category</label>
            @Html.DropDownListFor(m => m.Category, new List<SelectListItem>
                    {
                          new SelectListItem { Text = "Хранителни стоки", Value = "Хранителни стоки", Selected=true},
                          new SelectListItem { Text = "Канцеларски материали", Value = "Канцеларски материали"},
                          new SelectListItem { Text = "Строителни материали", Value = "Строителни материали"}
                    }, new { @style = "width:40rem", @class = "form-control" })
        </div>
        <div class="form-group" style="width: 40rem;">
            <label for="code">Code</label>
            @Html.ValidationMessageFor(m => m.Code, null, new { @class = "text-danger" })
            @Html.TextBoxFor(m => m.Code, new { @placeholder = "Code", @class = "form-control" })
        </div>
        <div class="form-group" style="width: 40rem;">
            <label for="description">Description</label>
            @Html.TextAreaFor(m => m.Description, new { @placeholder = "Description", @style = "resize: none; height: 10rem;", @class = "form-control" })
        </div>
        <div class="form-group" style="width: 40rem;">
            <label for="image">Image</label>
            @Html.TextBoxFor(m => m.Image, new { @class = "control-fileupload", @type = "file", @accept = "image/png, image/jpg, image/jpeg" })
        </div>
        <div class="form-group">
            @Html.ValidationMessage("NameValidation", null, new { @class = "text-danger" })
            @Html.ValidationMessage("BPValidation", null, new { @class = "text-danger" })
            @Html.ValidationMessage("SPValidation", null, new { @class = "text-danger" })
            @Html.ValidationMessage("QuantityValidation", null, new { @class = "text-danger" })
            @Html.ValidationMessage("CodeValidation", null, new { @class = "text-danger" })
            @Html.ValidationMessage("DescriptionValidation", null, new { @class = "text-danger" })
        </div>
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary" style="margin-right: 25px; background-color:lawngreen">Save</button>
            <a href="/Products/Index?searchName=@Model.searchName&searchCode=@Model.searchCode&searchCategory=@Model.searchCategory&page=@Model.page&pages=@Model.pages" class="btn btn-primary" style="margin-left: 25px; background-color:red">Cancel</a>
        </div>
    </form>
</div>